@font-face {
    font-family: Advercase;
    src: url(./fonts/AdvercaseFont-Demo-Regular.otf);
}

@font-face {
    font-family: Advercase Bold;
    src: url(./fonts/AdvercaseFont-Demo-Bold.otf);
    font-weight: bold;
}

h1 {
    font-family: Advercase Bold, 'Times New Roman', Times, serif;
    color: #0c742b;
}

h2 {
    font-family: DM Serif Display, 'Times New Roman', Times, serif;
}

body {
    background-color: #9edc9;
    font-family: Advercase Bold, 'Times New Roman', Times, serif;
}
