@font-face {
    font-family: Advercase Bold;
    src: url(./fonts/AdvercaseFont-Demo-Bold.otf);
    font-weight: bold;
}

* {
    color: rgb(200, 255, 197);
    background-color:#0c090d;
    font-family: 'Times New Roman', Times, serif, 'DM Serif Display', 'Courier New', Courier, monospace;
}

body {
background-image: url("./assets/bg.jpg");
background-position: right;
}

h1 {
    font-family: 'Advercase Bold', 'DM Serif Display', 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    font-family: 'DM Serif Display', 'Advercase Bold', 'Times New Roman', Times, serif;
}

a {
    color: yellow;
    /* font-family: Zen Antique Soft, 'Times New Roman', Times, serif, 'Courier New', Courier, monospace; */
}

header {
    text-align: center;
    padding: 20px;
    max-width: 1250px;
    margin: 0 auto;
}

header a {
    font-family: 'Zen Antique Soft', 'DM Serif Display', 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 16pt;
    color:rgb(200, 255, 197);
    background-color: darkslategrey;
    padding: 0 5px;
}

a:hover {
    font-weight: bold;
}

ul {
    line-height: 1.5;
}

footer {
    font-style: italic;
}

img {
    height: 30%;
    width: 30%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1250px;
    background-color: #0c090d;
}

.image {
    width: 1500px;
    height: 200px;
    background-image: url("./assets/jiang2.png");
}

.chinese {
    font-family: 'Zen Antique Soft', 'DM Serif Display', 'Times New Roman', Times, serif;
}

.infobox {
    margin-top: 20px;
    display: block;
    padding: 0 5px;
    background-color: darkslategrey;
    border: 1px solid rgb(200, 255, 197);
}

#boxtext {
    margin: 0;
    background-color: darkslategrey;
    line-height: 1.5;
}

/*.flex-container {
    display: flex;

}

.flex-container p {
    font-size: 24px;
} */

.flex-img {
    display: block;
    height: 400px;
    width: 600px;
}