@font-face {
    font-family: Advercase;
    src: url(./fonts/AdvercaseFont-Demo-Regular.otf);
}

@font-face {
    font-family: Advercase Bold;
    src: url(./fonts/AdvercaseFont-Demo-Bold.otf);
    font-weight: bold;
}

h1 {
    color: green;
    font-family: Advercase Bold, sans-serif;
}

h2 {
    font-family: DM Serif Display;
}
body {
    background-color: #f6f4e8;
}

